*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

.titulo{
    width: 100vw;
    height: 9vh;
    background-color: #371b7a;
    color: #fff;
}

.titulo-encriptador{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 12px;
}

.contenedor{
    position: relative;
    width: 100vw;
    height: 75vh;
    background-color: #ffe0ff;
}

.texto-encriptado {
    position: absolute;
    width: 42%;
    height: 50%;
    left: 12%;
    top: 15%;
    border:3px solid #a9acaf;
    box-shadow: 0rem 1.5rem 2rem -0.5rem rgba(0, 0, 0, 0.5);
    border-radius: 1rem;    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #f8dbfe;
    line-height: 150%;
    padding: 0.5rem;
    box-sizing: border-box; 
    text-align: left;
}

.texto-encriptado::placeholder{
   color: #495057;
   text-align: center;
   opacity: 0.7;
}

.texto-encriptado:focus, .texto-encriptado:active {
    outline: none;
}

.restricciones{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 80%;
    gap: 0.5rem;
    padding: 0;
    left: 12%;
    top: 67%;
}

.restricciones p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:1rem ;
    font-style: normal;
    font-weight: bold;
    color:#495057 ;
    opacity: 0.7;
    line-height: 150%;
    order: 1;
    flex: none;
    flex-grow: 0;
}

.botones-encriptar{
    position: absolute;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding: 1% 0;
    width: 80%;
    left: 12%;
    top: 73%;
}

.encriptar{
    align-items: center;
    justify-content: center;
    border-radius:  50px 15px 50px;
    border: 5px solid #c472d9;
    padding: 1rem;
    width: 25%;
    background-color:#371b7a;
    color: #E9ECF8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    line-height: 1.1875rem;
    gap: 0.5rem;
 }

 .desencriptar{
    align-items: center;
    justify-content: center;
    border-radius:  50px 15px 50px;
    box-sizing: border-box;
    padding: 1rem;
    width: 25%;
    background-color: #f8dbfe;
    color: #0A3871;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    line-height: 1.1875rem;
    gap: 0.5rem;
    border: 5px solid #0A3871;
 }

 .encriptar:hover, .desencriptar:hover{
    margin: 0.5%;
    width: 22%;
    padding: 0.75rem;
    box-sizing: border-box; 
 }

 .text-encriptado {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 22%;
    height: 90%;
    left: 65%;
    top: 5%;
    background-color: #fff;
    box-shadow: 0rem 1.5rem 2rem -0.5rem rgba(0, 0, 0, 0.5);
    border-radius: 1.5rem;
    padding: 1rem;
}

.mensaje-encriptar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 100%;
    gap: 1rem;
    text-align: center;
}

.mensaje-encriptar h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bold;
    line-height: 120%;
    color: #343A40;
    opacity: 0.8;
    width: 100%;
    margin: 0;
}

.mensaje-encriptar p{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: bold;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    width: 100%;
    margin: 0;
}

.copiar-texto {
    align-self: center; 
    justify-content: center;
    border-radius: 50px 15px 50px;
    padding: 0.75rem;
    width: 50%;
    background-color:#f8dbfe;
    color: #0A3871;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    line-height: 1rem;
    border: 5px solid #0A3871;
    margin-top: 2rem; 
    transition: none;
}

.copiar-texto:hover{
    margin: 0.5%;
    width: 45%;
    padding: 0.75rem;
    box-sizing: border-box;
}

.text-encriptado img{
    display: block;
    width: 100%;
    max-height: 50%; 
    transition: display 0.3s ease-in-out;
}

.footer-contenedor {
    background-color:#371b7a;
    color: #fff;
    padding: 1rem;
    text-align: center;
    top: 15vh;
    height: auto;
    flex-shrink: 0;
}

.footer-contenedor p {
    margin: 0.5rem 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-size: 1.125rem; 
    font-weight: bold;
}

.social-icons a {
    color: #fff;
    font-size: 1.5rem;
    margin: 0 0.5rem;
    text-decoration: none;
}

.social-icons a:hover {
    color: #ddd;
}

.copyright{
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-size: 1rem; 
    font-weight: bold;
    top:5%;
    margin: 3px;
}

@media (max-width: 48em){
    .titulo{
       width: 100%;
       height: 6%;
    }
    
    .contenedor{
        width: 100%;
        display: flex;
        flex-direction: row;
        min-height: calc(102vh - 7vh - 15vh); 
    }

    .encriptador-texto{
        width: 90%;
    }

    .texto-encriptado{
        width: 77%;
        height: 45%;
        top: 5%;
    }

    .restricciones{
        width: 80%;
        left: 10%;
        top: 51%;
    }

    .restricciones p{
        font-size: 0.75rem;
    }

    .botones-encriptar{
        width: 80%;
        left: 10%;
        top: 54%;
    }

    .encriptar, .desencriptar{
        width: 48%;
        border-radius:2px solid #343A40;
    }

    .encriptar:hover, .desencriptar:hover{
        margin: 0.3%;
        width: 47%;
        padding: 0.75rem;
    }

    .text-encriptado{
        width: 80%;
        height: 30%;
        left: 10%;
        top: 65%;
    }

    .mensaje-encriptar{
        width: 100%;
        top: 5%;
    }

    .text-encriptado img{
        top:0;
        display: none;
        visibility: hidden;
    }

    .copiar-texto{
        width: 40%;
        top: 0;
    }
    
    .copiar-texto:hover{
        margin: 0.3%;
        width: 35%;
        padding: 0.75rem;
    }
    
    .footer-contenedor{
        width: 100%;
        height: 5%;
        left: 10%;
    }
}

@media (max-width: 30em){
    .titulo{
       width: 100%;
       height: 6%;
    }
    
    .contenedor{
        width: 100%;
        display: flex;
        flex-direction: row;
        min-height: calc(110vh - 7vh - 5vh); 
    }

    .encriptador-texto{
        width: 80%;
    }

    .texto-encriptado{
        width: 80%;
        height: 45%;
        left: 10%;
        top: 2%;
    }

    .restricciones{
        width: 80%;
        left: 10%;
        top: 48%;
    }

    .restricciones p{
        width: 80%;
        font-size: 0.75rem;
    }

    .botones-encriptar{
        flex-direction: column;
        align-items: center;
        width: 80%;
        left: 10%;
        top: 53%;
    }

    .encriptar, .desencriptar{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        border-radius:2px solid #343A40;
        margin-bottom: 0.5rem;
        height: 2rem; 
        font-size: 0.875rem;
    }

    .encriptar:hover, .desencriptar:hover{
        margin: 0.3%;
        width: 47%;
        padding: 0.75rem;
    }

    .text-encriptado{
        width: 80%;
        height: 34%;
        left: 10%;
        top: 65%;
    }

    .mensaje-encriptar{
        width: 100%;
        top: 10%;
    }

    .text-encriptado img{
        top:0;
        display: none;
        visibility: hidden;
    }


    .copiar-texto{
        width: 80%;
        top: 5%;
    }
    
    .copiar-texto:hover{
        margin: 0.3%;
        width: 78%;
        padding: 0.75rem;
    }
    
    .footer-contenedor{
        width:100%;
        height: 5%;
        left: 10%;
        min-height: calc(10vh - 7vh - 5vh);
    }
}